.circleRow > label > span {
    padding-left: 10px;
}

.contentsArea {
    width: 50%;
}

.circleRow {
    width: 100%;
    margin: 5px 0;
}

@media (max-width: 991.98px) {
    .contentsArea {
        width: 100%;
    }
}