.contentsArea > .eventDate {
    margin: 10px 0;
}

.contentsArea > .eventDate > a {
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: dashed 1px #999999;
    color: rgb(36, 35, 35);
}

.contentsArea > .eventDate > a:hover {
    color: rgb(158, 211, 216);
    border-bottom: dashed 1px rgb(158, 211, 216);
}

#selectYear {
    width: 150px;
}