.shade {
  opacity: 0.9;
  background-color: #999999;
}

.popupOverlay {
  visibility: hidden;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  border: 1px #000000 solid;
}

.popupOverlay.show {
  visibility: visible;
}